<div class="tab-content">
  <table class="list">
    <tr>
      <th style="width:20%;text-align: center;"><%=l(:field_name)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_total_cases) %></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_total_executions) %></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_total_bugs) %></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_open_bugs) %></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_executions_rate) %></th>
      <th style="width:15%;text-align: center;"><%=l(:label_impasse_stat_bugs_rate)%></th>
    </tr>
    <% name, total, executed, bugs, closed_bugs, ok, nog, block = @statistics %>
    <tr class="entry">
      <td style="text-align: center;"><%= name %></td>
      <td style="text-align: center;"><%= total %></td>
      <td style="text-align: center;"><%= executed %></td>
      <td style="text-align: center;"><%= bugs %></td>
      <td style="text-align: center;"><%= bugs.to_i - closed_bugs.to_i %></td>
      <td style="text-align: center;"><%= number_to_percentage (total == 0) ? 0 : (ok.to_f / total.to_f) * 100, :precision => 2 %></td>
      <td style="text-align: center;"><%= number_to_percentage (total == 0) ? 0 : (bugs.to_f / total.to_f) * 100, :precision => 2 %></td>
    </tr>
  </table>
</div>



