<div class="tab-content">
  <table class="list">
    <tr>
      <th style="width:20%;text-align: center;"><%=l(:label_member)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_total_cases)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_execution_status_1)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_execution_status_2)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_execution_status_3)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_total_bugs)%></th>
      <th style="width:8%;text-align: center;"><%=l(:label_impasse_stat_open_bugs)%></th>
      <th style="width:15%;text-align: center;"><%=l(:label_impasse_stat_executions_rate)%></th>
      <th style="width:15%;text-align: center;"><%=l(:label_impasse_stat_bugs_rate)%></th>
    </tr>
    <% @statistics.each do |st| %>
      <tr class="entry">
        <td style="text-align: center;"><%= avatar st[:user], :size=>16 %><%= h st[:user].name %></td>
        <td style="text-align: center;"><%= st[:total] %></td>
        <td style="text-align: center;"><%= st[:ok] %></td>
        <td style="text-align: center;"><%= st[:nog] %></td>
        <td style="text-align: center;"><%= st[:block] %></td>
        <td style="text-align: center;"><%= st[:bugs] %></td>
        <td style="text-align: center;"><%= st[:bugs].to_i - st[:closed_bugs].to_i %></td>
        <td style="text-align: center;"><%=number_to_percentage (st[:total].to_i == 0) ? 0 : (st[:ok].to_f / st[:total].to_f) * 100, :precision=>2 %></td>
        <td style="text-align: center;"><%=number_to_percentage (st[:total].to_i == 0) ? 0 : (st[:bugs].to_f / st[:total].to_f) * 100, :precision=>2 %></td>
      </tr>
    <% end %>
  </table>
</div>

