<%= error_messages_for 'query' %>
<% if query.valid? %>
  <% if issues.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <table class="list issues">
      <thead>
        <tr>
          <th>#</th>
          <th><%=l(:field_tracker)%></th>
          <th><%=l(:field_subject)%></th>
        </tr>
      </thead>
      <tbody>
        <% for issue in issues %>
          <tr id="issue-<%= h(issue.id) %>" class="jstree-draggable <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
            <td class="id">
              <%= link_to h(issue.id), :controller => 'issues', :action => 'show', :id => issue %>
            </td>
            <td class="tracker"><%=h issue.tracker %></td>
            <td class="subject">
              <%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %> (<%=h issue.status %>)
            </td>
          </tr>
        <% end %>
      </tbody>      
    </table>

    <p class="pagination"><%= impasse_pagination_links_full issue_pages, issue_count %></p>
  <% end %>
<% end %>
