<%= error_messages_for 'query' %>
<div class="box">
  <div class="contextual">
    <a href="#" id="button-close-requirements"><%= image_tag 'close.png' %></a>
  </div>
  <div style="clear:both;"></div>
  <%= form_tag "#", :id => 'requirement_issues' do %>
    <%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content" class="hide-when-print">
      <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
        <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
        <div style="<%= @query.new_record? ? "" : "display: none;" %>">
          <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
        </div>
      </fieldset>
    </div>
  <% end %>
  <script type="text/javascript">
    $("a#impasse_pagination_link").live('click', function() {
      var url = $(this).attr('href');
      $.ajax({
          url: url,
          data: { },
          success: function(update_issue_tree) {
            update_issue_tree;
          }
      });
      return false;
    });

    function load_issues_table(data){
      var form = $("#requirement_issues");
      $.ajax({
        url: "<%= url_for :controller=>:impasse_requirement_issues, :action=>:index, :project_id=>@project, :format=> 'js' %>",
        data: data,
        success: function(update_issue_tree) {
          update_issue_tree;
        }
      });
    }

    $("a#submit_query_form").live('click', function(){
      var form = $("#requirement_issues");
      var data = form.serialize();
      load_issues_table(data);
      return false;
    });
  </script>

  <p class="buttons hide-when-print">
    <%= link_to l(:button_apply), '#', :class => 'icon icon-checked', :id => 'submit_query_form' %>
    <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
  </p>
  <div id="issues-tree"></div>
</div>
